{% extends "conversion/conversion_base.html" %}

{% block title %}Subscribe - AVMN - {% endblock %}

{% block navbar %}
{% endblock %}

{% block jumbotron_title %}
 <i class="fa fa-envelope-o" aria-hidden="true"></i><br>
 Subscribe
{% endblock %}

{% block page_title %}
<div class="row align-items-center justify-content-center">
 <div class="col-md-9 hoverable">
  <h5 class="h5-responsive font-weight-bold text-center">to the</h5>
  <h2 class="h2-responsive font-weight-bold text-center">
   Artsy Visions Monthly Newsletter
  </h2>
 </div><!-- .col-* -->
</div><!-- .row -->
{% endblock %}

{% block conversion_content %}
<div class="col-md-11 col-lg-10 hoverable">
 <p class="lead">
  Use the form below to subscribe to the AVMN &mdash; the
   Artsy Visions Monthly Newsletter!
 </p>
 <ul class="list-group mb-3">
  <li class="list-group-item">
   The AVMN is sent monthly
  </li>
  <li class="list-group-item">
   It covers updates to:
   <dl class="row m-3">
    <dt class="col-sm-4 col-lg-3 col-xl-2">
     <a href="https://www.seeourminds.com" title="SeeOurMinds.com home page">
      SeeOurMinds.com</a>
    </dt>
    <dd class="col-sm-8 col-lg-9 col-xl-10">
     Hosts the SeeOurMinds
      <a href="https://www.seeourminds.com/quiz"
         title="SeeOurMinds.com Quiz page"
         class="font-weight-bold" target="_blank">
       Quiz</a>
      and
      <a href="https://www.seeourminds.com/galleries/"
         title="SeeOurMinds.com Galleries page"
         class="font-weight-bold" target="_blank">
       Galleries</a>
      containing hundreds of images
    </dd>
    <dt class="col-sm-4 col-lg-3 col-xl-2">
     <a href="https://www.ArtsyVisions.com" title="ArtsyVisions.com home page">
      ArtsyVisions.com</a>
    </dt>
    <dd class="col-sm-8 col-lg-9 col-xl-10">
     Highlights and insights from SeeOurMinds.com
    </dd>
    <dt class="col-sm-4 col-lg-3 col-xl-2">
     <a href="https://www.groja.com" title="Groja.com home page">
      Groja.com</a>
    </dt>
    <dd class="col-sm-8 col-lg-9 col-xl-10">
     Learn
      <a href="https://www.groja.com/about" title="Groja.com about page"
         class="font-weight-bold" target="_blank">
       about spiritual portraits</a>
      and
      <a href="https://www.groja.com/yourportrait"
         title="Groja.com your portrait page"
         class="font-weight-bold" target="_blank">
       purchase an image</a>
      of your personality
    </dd>
   </dl>
  </li>
  <li class="list-group-item">
   Unsubscribe at any time by following the instructions at the bottom of the
    most recently received email
  </li>
 </ul>
 <p>
 </p>
</div><!-- .col-* -->
{% endblock %}

{% block conversion_image %}
{% endblock %}

{% block message_textarea %}
{% endblock %}

{% block terms_checkbox %}
{% endblock %}

{% block button_text %}
 <i class="fa fa-envelope-o mr-2" aria-hidden="true"></i>
 Subscribe!
 <i class="fa fa-envelope-o ml-2" aria-hidden="true"></i>
{% endblock %}

{% block footer %}
{% endblock %}
