{% extends "conversion/conversion_base.html" %}

{% block title %}Subscribe - AVMN - {% endblock %}

{% block navbar %}
{% endblock %}

{% block jumbotron_title %}Subscribe{% endblock %}

{% block page_title %}
<div class="row align-items-center justify-content-center">
 <div class="col-md-9 hoverable">
  <h5 class="h5-responsive font-weight-bold text-center">to the</h5>
  <h2 class="h2-responsive font-weight-bold text-center">
   Artsy Visions Monthly Newsletter
  </h2>
 </div><!-- .col-* -->
</div><!-- .row -->
{% endblock %}

{% block conversion_content %}
 <h2 class="h2-responsive font-weight-bold text-center">
  <i class="fa fa-envelope-o" aria-hidden="true"></i><br>
 </h2>
 <p class="lead">
  Use the form below to subscribe to the AVMN &mdash; the one and only
   Artsy Visions Monthly Newsletter!
 </p>
 <p>
  To join the monthly email list for
   <a href="https://www.groja.com" title="Groja.com home page">
     Groja.com</a>
  &mdash; and learn about new posts on
  <a href="https://www.ArtsyVisions.com" title="ArtsyVisions.com home page">
   ArtsyVisions.com</a>
  and
  <a href="https://www.seeourminds.com" title="SeeOurMinds.com home page">
    SeeOurMinds.com</a>
  &mdash; enter your name and email address in the form below.
 </p>
 <ul class="list-group mb-3">
  <li class="list-group-item">
  </li>
  <li class="list-group-item">
  </li>
  <li class="list-group-item">
  </li>
 </ul>
 <p>
 </p>
{% endblock %}

{% block conversion_image %}
{% endblock %}

{% block message_textarea %}
{% endblock %}

{% block terms_checkbox %}
 {{ super() }}
{% endblock %}

{% block button_text %}
 Join the List!
{% endblock %}

{% block footer %}
{% endblock %}
