{% extends "base.html" %}


{% block content %}

<main>
 <div class="container">
  <div class="row align-items-center justify-content-around">
   <div class="conversion-page z-depth-1-half">
    <div class="col-md-9">
     {% block conversion_content %}
     {% endblock %}
    </div><!-- .col-md-9 -->
    <div class="col-md-3">
     {% block conversion_sidebox %}
     {% endblock %}
    </div><!-- .col-md-3 -->
   </div><!-- .legal-page -->
  </div><!-- .row -->
 </div><!-- .container -->
</main>

{% endblock %}
