{% extends "base.html" %}

{% block content %}
<main>
 <div class="jumbotron jumbotron-fluid">
  <div class="container">
   <div class="row align-items-center justify-content-around">
    <div class="col-md-8 hoverable">
     <h1 class="display-2 font-weight-bold text-center">
      {% block jumbotron_title %}
      {% endblock %}
     </h1>
    </div><!-- .col-* -->
   </div><!-- .row -->
   {% block page_title %}
   {% endblock %}
   {% block form_errors_top %}
    {% if conv_form.errors %}
     <div class="row align-items-center justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6 hoverable my-4 py-4">
       <h2 class="h2-responsive font-weight-bold text-center text-danger">
        The form contains errors:
       </h2>
       <ul class="list-group list-group-flush mb-3">
        {% for key, value in conv_form.errors.items() %}
         {% for err_msg in value %}
          <li class="list-group-item font-weight-bold text-danger">
           <i class="fa fa-arrow-right mr-2" aria-hidden="true"></i>
           {{ err_msg }}
          </li>
         {% endfor %}
        {% endfor %}
       </ul>
      </div><!-- .col-* -->
     </div><!-- .row -->
    {% endif %}
   {% endblock %}
   <div class="row align-items-center justify-content-center">
    {% block conversion_content %}
    {% endblock %}
    {% block conversion_image %}
    {% endblock %}
   </div><!-- .row -->
   <div class="row align-items-center justify-content-around">
    <div class="col-sm-12 col-md-11 col-lg-10">
     <form class="text-center border border-light hoverable m-2 p-5"
           action="" method="post" role="form">
      {{ conv_form.hidden_tag() }}
      {% block top_of_form %}
      {% endblock %}
      {% block form_errors_form %}
       {% if conv_form.errors %}
        <ul class="list-group list-group-flush mb-3">
         {% for key, value in conv_form.errors.items() %}
          {% for err_msg in value %}
           <li class="list-group-item text-danger">
            <i class="fa fa-asterisk mr-2" aria-hidden="true"></i>
            <span class="font-weight-bold">
             <u>{{ err_msg }}</u>
            </span>
            <i class="fa fa-asterisk ml-2" aria-hidden="true"></i>
           </li>
          {% endfor %}
         {% endfor %}
        </ul>
       {% endif %}
      {% endblock %}
      {% block name_input %}
       <div class="md-form">
        {{ conv_form.name( class="form-control mb-4",
               placeholder="Name", type="text", value=conv_form.name.data ) }}
       </div><!-- .md-form -->
      {% endblock %}
      {% block archetype_select %}
       <div class="row align-content-center justify-content-start">
        <div class="col-sm-6 col-md-4 text-left">
         <label for="archetype">Four-letter Type:</label>
         <div class="md-form text-left m-0 p-0">
          {{ conv_form.archetype( class="browser-default custom-select") }}
         </div><!-- .md-form -->
        </div><!-- .col-* -->
       </div><!-- .row -->
      {% endblock %}
      {% block email_input %}
       <div class="md-form">
        {{ conv_form.email( class="form-control mb-4",
               placeholder="Email", type="email", value=conv_form.email.data ) }}
       </div><!-- .md-form -->
      {% endblock %}
      {% block terms_checkbox %}
       <div class="custom-control custom-checkbox mb-4">
        <input type="checkbox" class="custom-control-input"
               id="terms_checkbox" name="terms_checkbox">
        <label class="custom-control-label text-left" for="terms_checkbox">
         By checking this box you confirm you consent to our
          <b>
           <a href="/legal/terms_of_service" class="footer"
              title="Terms of Service for this site" target="_blank">
            Terms of Service</a></b>
          and
          <b>
           <a href="/legal/privacy_policy" class="footer"
              title="Privacy Policy for this site" target="_blank">
            Privacy Policy</a>.</b>
        </label>
       </div>
      {% endblock %}
      {% block message_textarea %}
       <div class="md-form">
        {{ conv_form.message( class="form-control rounded-0 mb-4",
               placeholder="Message", type="textarea", rows="5",
               value=conv_form.message.data ) }}
       </div><!-- .md-form -->
      {% endblock %}
      {% block form_above_button %}
      {% endblock %}
      <div class="text-center">
       <button class="btn btn-primary btn-rounded"
               type="submit" role="button">
        {% block button_text %}
        {% endblock %}
       </button>
      </div>
      {% block bottom_of_form %}
      {% endblock %}
     </form>
    </div><!-- .col-* -->
   </div><!-- .row -->
   {% block under_form %}
   {% endblock %}
  </div><!-- .container -->
 </div><!-- .jumbotron -->
</main>
{% endblock %}
