{% extends "conversion/conversion_base.html" %}

{% block title %}Free Offer - {% endblock %}

{% block navbar %}
{% endblock %}

{% block jumbotron_title %}
 <u>Free</u> Offer
{% endblock %}

{% block page_title %}
<div class="row align-items-center justify-content-center">
 <div class="col-md-9 hoverable mt-1 mb-2 pt-1 pb-2">
  <h2 class="h2-responsive font-weight-bold text-center mt-3">
   Subscribe
  </h2>
  <h4 class="h4-responsive font-weight-bold text-center">
   to the</h4>
  <h3 class="h3-responsive font-weight-bold text-center mt-3">
   Artsy Visions Monthly Newsletter
  </h3>
  <h4 class="h4-responsive font-weight-bold text-center">
   and</h4>
  <h2 class="h2-responsive font-weight-bold text-center mt-3">
   Get Your <u>Free</u> Spiritual Portrait
  </h2>
 </div><!-- .col-* -->
</div><!-- .row -->
{% endblock %}

{% block conversion_content %}
<div class="col-md-11 col-lg-10 hoverable p-3">
 <p class="lead text-center font-weight-bold mb-3">
  <u>Limited Time Free Offer!</u>
 </p>
 <p class="lead text-left">
  To receive your <u>free</u> spiritual portrait:
 </p>
 <ol class="list-group mb-3">
  <li class="list-group-item mb-0">
   <span class="badge badge-white badge-pill mr-2">
    <span class="black-text">1</span></span>
   <strong><u>Take</u></strong> the
    <a href="https://www.seeourminds.com/quiz"
       title="SeeOurMinds.com Quiz page"
       class="font-weight-bold" target="_blank">
     SeeOurMinds Quiz</a>,
   answering <strong><u>at least 60 questions</u></strong><br>
   <ul class="list-group list-group-flush ml-2">
    <li class="list-group-item mb-0 py-0">
     Note: the more questions you answer, the better the image!
    </li>
   </ul>
  </li>
  <li class="list-group-item">
   <span class="badge badge-white badge-pill mr-2">
    <span class="black-text">2</span></span>
   <strong><u>Save</u></strong> your answers on the server, using the email
   address at which you want to receive the Artsy Visions Monthly Newsleter
  </li>
  <li class="list-group-item">
   <span class="badge badge-white badge-pill mr-2">
    <span class="black-text">3</span></span>
   <strong><u>Specify</u></strong> the email address used to save your
   results in the form below
  </li>
 </ol>
 <p class="text-left">
  This offer is subject to end without notice!
 </p>
 <p>
 </p>
</div><!-- .col-* -->

{% endblock %}

{% block conversion_image %}
{% endblock %}

{% block top_of_form %}
<p class="lead text-center font-weight-bold">
 <u>Requests that do not conform to the above rules will be ignored!</u>
</p>
{% endblock %}

{% block name_input %}
{% endblock %}

{% block email_input %}
 {{ super() }}
{% endblock %}

{% block terms_checkbox %}
 {{ super() }}
{% endblock %}

{% block message_textarea %}
{% endblock %}

{% block form_above_button %}
{% endblock %}

{% block button_text %}
 Subscribe and Get Your Portrait
{% endblock %}

{% block bottom_of_form %}
<p class="lead text-left">
 Clicking the button subscribes you to the Artsy Visions Monthly Newsletter and
  orders a copy of your <u>Free</u> spiritual portrait!
</p>
{% endblock %}

{% block footer %}
{% endblock %}
