{% extends "conversion/conversion_base.html" %}

{% block title %}Free Offer - {% endblock %}

{% block navbar %}
{% endblock %}

{% block jumbotron_title %}
 <i class="fa fa-smile-o" aria-hidden="true"></i><br>
 <u>Free Offer</u>
{% endblock %}

{% block page_title %}
<div class="row align-items-center justify-content-center">
 <div class="col-md-10 col-lg-9 hoverable mt-1 mb-2 pt-1 pb-2">
  <h2 class="h2-responsive font-weight-bold text-center mt-3">
   Subscribe
  </h2>
  <h4 class="h4-responsive font-weight-bold text-center">
   to the</h4>
  <h2 class="h2-responsive font-weight-bold text-center mt-3">
   Artsy Visions Monthly Newsletter
  </h2>
  <h4 class="h4-responsive font-weight-bold text-center">
   and</h4>
  <h2 class="h2-responsive font-weight-bold text-center mt-3">
   Get Your <u>Free</u> Spiritual Portrait
  </h2>
 </div><!-- .col-* -->
</div><!-- .row -->
{% endblock %}

{% block form_errors_top %}
 {{ super() }}
{% endblock %}

{% block conversion_content %}
<div class="col-md-11 col-lg-10 hoverable px-5 py-3">
 <h3 class="h3-responsive text-center font-weight-bold mb-3">
  <u>Limited Time Offer!</u>
 </h3>
 <p class="lead text-left">
  To receive your <u>free</u> spiritual portrait,
   <span class="font-weight-bold">follow these steps:</span>
 </p>
 <ol class="list-group mb-3">
  <li class="list-group-item mb-0">
   <span class="badge badge-white badge-pill mr-2">
    <span class="black-text">1</span></span>
   <strong><u>Take</u></strong> the
    <a href="https://www.seeourminds.com/quiz"
       title="SeeOurMinds.com Quiz page"
       class="font-weight-bold" target="_blank">
     SeeOurMinds Quiz</a>,
   answering
   <strong><u>at least 60
    questions</u></strong><sup><a href="#footnotes"><span class="blue-text font-weight-bold">1
       </span></a></sup>
  </li>
  <li class="list-group-item">
   <span class="badge badge-white badge-pill mr-2">
    <span class="black-text">2</span></span>
   <strong><u>Save</u></strong> your answers on the
   server<sup><a href="#footnotes"><span class="blue-text font-weight-bold">2
      </span></a></sup>
  </li>
  <li class="list-group-item">
   <span class="badge badge-white badge-pill mr-2">
    <span class="black-text">3</span></span>
   <strong><u>Select</u></strong> the four-letter type
   which best conforms to your
   results<sup><a href="#footnotes"><span class="blue-text font-weight-bold">3
      </span></a></sup>
  </li>
  <li class="list-group-item">
   <span class="badge badge-white badge-pill mr-2">
    <span class="black-text">4</span></span>
   <strong><u>Fill in</u></strong> the email field in the form below with the
    email address you saved your quiz results under on SeeOurMinds.com
  </li>
 </ol>
 <p class="lead">
  <strong><u>Within a week</u></strong> we will create your portrait and
   send it to the email address you provide.
 </p>
</div><!-- .col-* -->
{% endblock %}

{% block conversion_image %}
{% endblock %}

{% block top_of_form %}
{% endblock %}

{% block form_errors_form %}
 {{ super() }}
{% endblock %}

{% block name_input %}
{% endblock %}

{% block archetype_select %}
 {{ super() }}
{% endblock %}

{% block email_input %}
 {{ super() }}
{% endblock %}

{% block terms_checkbox %}
{% endblock %}

{% block message_textarea %}
{% endblock %}

{% block form_above_button %}
 <p class="text-left red-text">
  <small>&ast;&nbsp;All fields are required.</small>
 </p>
 <p class="lead z-depth-1 text-center mt-3 mb-4 p-2">
  Clicking the button subscribes you to the Artsy Visions Monthly
   Newsletter<sup><a href="#footnotes"><span class="blue-text font-weight-bold">4
      </span></a></sup>
   and orders a copy of your <u>Free</u> spiritual portrait!
 </p>
{% endblock %}

{% block button_text %}
 Subscribe and Get Your Portrait
{% endblock %}

{% block bottom_of_form %}
{% endblock %}

{% block under_form %}
<div class="row align-items-center justify-content-around">
<a name="footnotes"></a>
 <div class="col-md-11 col-lg-10 hoverable p-3">
  <p class="lead text-center font-weight-bold mt-3 mb-0 p-2">
   This offer is subject to change without notice!
  </p>
  <ul class="list-group list-group-flush mb-3">
   <li class="list-group-item">
    1. The more questions you answer, the better the image.
   </li>
   <li class="list-group-item">
    2. We will send the portrait and newsleter to the address you use to
     save your results.
   </li>
   <li class="list-group-item">
    3. If your results show you split evenly, 50%/50%, between a pair of
       opposing traits, you will need to pick one or the other.
    <ul class="list-group list-group-flush ml-2 mb-0 pb-0">
     <li class="list-group-item mb-0 pt-2 pb-0">
      If you did not answer all 88 of the questions on
       the SeeourMinds Quiz, try answering more of them.
     </li>
     <li class="list-group-item mb-0 pt-2 pb-0">
      Another option is to try a
       <a href="http://www.humanmetrics.com/personality"
          title="Link to the quiz at humanmetrics.com" target="_blank">
        different quiz</a>
       and get a second opinion.
     </li>
    </ul>
   </li>
   <li class="list-group-item">
    4. The Artsy Visions Monthly Newsletter is sent monthly and includes
     updates for
     <a href="https://www.SeeOurMinds.com" title="Home page of SeeOurMinds.com">
      SeeOurMinds.com</a>,
     <a href="https://www.ArtsyVisions.com"
        title="ArtsyVisions.com home page" target="_blank">
      ArtsyVisions.com</a>, and
     <a href="http://www.Groja.com"
        title="Groja.com home page" target="_blank">
      Groja.com</a>.
   </li>
  </ul>
  <p>
  </p>
 </div><!-- .col-* -->
</div><!-- .row -->
{% endblock %}

{% block footer %}
{% endblock %}
