{% extends "conversion/conversion_base.html" %}

{% block title %}Your Portrait{% endblock %}

{% block navbar %}
 {{ super() }}
{% endblock %}

{% block jumbotron_title %}Your Portrait{% endblock %}

{% block conversion_content %}
 <p class="lead">
  To learn how you can get your personalized Spiritual Portrait,
   enter your name and email address in the form below.
 </p>
 <p class="lead">
  We will contact you as soon as we can!
 </p>
 <p class="card-text">
  Prices subject to change without notice.
 </p>
{% endblock %}

{% block conversion_image %}
 {{ super() }}
{% endblock %}

{% block message_textarea %}
 {{ super() }}
{% endblock %}

{% block terms_checkbox %}
 {{ super() }}
{% endblock %}

{% block button_text %}
 Get Your Portrait
{% endblock %}

{% block footer %}
 {{ super() }}
{% endblock %}
