{% extends "conversion/conversion_base.html" %}

{% block title %}Email Subscription - SeeOurMinds.com{% endblock %}

{% block navbar %}
{% endblock %}

{% block jumbotron_title %}Join the List{% endblock %}

{% block conversion_content %}
 To join the monthly email list for
  <a href="https://www.groja.com" title="Groja.com home page">
     Groja.com</a>
  &mdash; and learn about new posts on
  <a href="https://www.ArtsyVisions.com" title="ArtsyVisions.com home page">
   ArtsyVisions.com</a>
  and
  <a href="https://www.seeourminds.com" title="SeeOurMinds.com home page">
    SeeOurMinds.com</a>
  &mdash; enter your name and email address in the form below.
{% endblock %}

{% block conversion_image %}
 {{ super() }}
{% endblock %}

{% block message_textarea %}
{% endblock %}

{% block terms_checkbox %}
 {{ super() }}
{% endblock %}

{% block button_text %}
 Join the List!
{% endblock %}

{% block footer %}
{% endblock %}
