{% extends "conversion/conversion_base.html" %}

{% block title %}Email Subscription - SeeOurMinds.com{% endblock %}

{% block navbar %}
{% endblock %}

{% block jumbotron_title %}Join the List{% endblock %}

{% block conversion_content %}
 To join the monthly email list for
  <a href="https://www.groja.com" title="Groja.com home page">
     Groja.com</a>
  &mdash; and learn about new posts on
  <a href="https://www.ArtsyVisions.com" title="ArtsyVisions.com home page">
   ArtsyVisions.com</a>
  and
  <a href="https://www.seeourminds.com" title="SeeOurMinds.com home page">
    SeeOurMinds.com</a>
  &mdash; enter your name and email address in the form below.
{% endblock %}


{% block message_textarea %}
{% endblock %}
{% block terms_checkbox %}
 {{ super() }}
{% endblock %}
{% block button_text %}Join the List!{% endblock %}


{% block thanks %}
 <div class="row">
   <div class="col-md-8">
     <section id="thanks">
       <h3>Thanks!</h3>
     </section><!-- #thanks -->
   </div><!-- .col-md-8 -->
 </div><!-- .row -->
{% endblock %}

{% block conversion_process %}
  <div class="card hoverable m-2">
    <div class="card-body">
      <h2 class="card-title h2-responsive font-weight-bold">What to Expect</h2>
      <ul start="0">
        <li>
          We will send you updates every once in awhile.</li>
        <li>
          Keep an eye out for the Spiritual Portrait of
			   one of your favorite characters!</li>
      </ul>
      <p>Thanks!</p>
    </div><!-- .card-body -->
  </div><!-- .card -->
{% endblock %}

{% block footer %}
{% endblock %}
