{% extends "conversion/conversion_base.html" %}

{% block title %}Consulting Work{% endblock %}

{% block navbar %}
{% endblock %}

{% block jumbotron_title %}How Can I Help You?{% endblock %}

{% block conversion_content %}
 If you'd like help with a technical aspect of your website,
  enter your name and email address in the form below:
{% endblock %}


{% block message_textarea %}
 {{ super() }}
{% endblock %}
{% block terms_checkbox %}
{% endblock %}
{% block button_text %}Contact Me{% endblock %}


{% block thanks %}
 <div class="row">
   <div class="col-md-8">
     <section id="thanks">
       <h3>I will contact you as soon as I can!</h3>
       <h2>Thanks!</h2>
     </section><!-- #thanks -->
   </div><!-- .col-md-8 -->
 </div><!-- .row -->
{% endblock %}

{% block conversion_process %}
  <div class="card hoverable m-2">
    <div class="card-body">
      <h2 class="card-title h2-responsive font-weight-bold">What to Expect</h2>
      <ul start="0">
        <li>
          I will contact you as soon as I can.</li>
        <li>
          We will discuss how I might help you!</li>
      </ul>
      <p>Thanks!</p>
    </div><!-- .card-body -->
  </div><!-- .card -->
{% endblock %}

{% block footer %}
{% endblock %}
