{% extends "conversion/conversion_base.html" %}

{% block title %}Consulting Work{% endblock %}

{% block navbar %}
{% endblock %}

{% block jumbotron_title %}How Can I Help You?{% endblock %}

{% block conversion_content %}
 If you'd like help with a technical aspect of your website,
  enter your name and email address in the form below:
{% endblock %}

{% block conversion_image %}
 <img src="{{ url_for('static', filename='images/conversion/portrait-1396-200x273.jpg') }}"
      class="img-fluid" alt="">
{% endblock %}

{% block message_textarea %}
 {{ super() }}
{% endblock %}

{% block terms_checkbox %}
{% endblock %}

{% block button_text %}
 Contact Me
{% endblock %}

{% block footer %}
{% endblock %}
