{% extends "thanks/thanks_base.html" %}

{% block title %}Thank You for Your Purchase - {% endblock %}

{% block thanks_content %}
 <p class="lead text-center font-weight-bold my-4">
  Thank You for Your Purchase!
 </p>
 <ul class="list-group list-group-flush mb-3">
  <li class="list-group-item">
   We will send you an invoice for the 50% down payment as soon as we get
    a chance
  </li>
 </ul>
 <p class="lead text-center my-4">
  Once we receive the down payment, we will create and send your
   spiritual portrait <u>within a week</u>
 </p>
{% endblock %}

{% block conversion_process %}
<div class="row align-items-center justify-content-center">
 <div class="col-sm-10">
  <div class="card hoverable m-2">
   <div class="card-body">
    <h2 class="card-title h2-responsive font-weight-bold text-center">
     What to Expect
    </h2>
    <ol class="list-group mb-3">
     <li class="list-group-item mb-0">
      <span class="badge badge-white badge-pill mr-2">
       <span class="black-text">1</span></span>
      If the results you provide are in a format we can
       use<sup><a href="#footnotes"><span class="blue-text font-weight-bold">1</span></a></sup>,
       we will send you an invoice for the down payment
     </li>
     <li class="list-group-item">
      <span class="badge badge-white badge-pill mr-2">
       <span class="black-text">2</span></span>
      Once you pay the down payment,
       we will create your image and send it to you &mdash;
       <u>within a week</u> &mdash;
       along with an invoice for the remaining balance
     </li>
     <li class="list-group-item">
      <span class="badge badge-white badge-pill mr-2">
       <span class="black-text">3</span></span>
      After you receive the image and pay the remaining balance,
       we will send you a
       <u>brief
        explanation</u><sup><a href="#footnotes"><span class="blue-text font-weight-bold">2
        </span></a></sup>,
       of what the colors in the image represent
     </li>
    </ol>
    <p class="lead text-center my-4">
     <strong><u>Thank you</u></strong> again for your order!
    </p>
   </div><!-- .card-body -->
  </div><!-- .card -->
 </div><!-- .col-sm-10 -->
</div><!-- .row -->
{% endblock %}

{% block conversion_footnotes %}
<div class="row align-items-center justify-content-around">
<a name="footnotes"></a>
 <div class="col-md-11 col-lg-10 hoverable p-3">
  <h2 class="card-title h2-responsive font-weight-bold text-center">
   Notes:
  </h2>
  <ul class="list-group list-group-flush mb-3">
   <li class="list-group-item">
    1. As stated on the previous page, you
     <strong><u>must</u></strong>
     give us results in percentages &mdash; clearly expressed
     so that the sum of each pair of opposites totals 100% &mdash;
     <strong><u>in addition to</u></strong> a four-letter type.
    <ul class="list-group list-group-flush ml-2 mb-0 pb-0">
     <li class="list-group-item mb-0 pt-2 pb-0">
      An example of the sort of result we require is:
      <br>
       <strong>E:82%, I:18%; N:33%, S:67%; F:60%, T:40%; J:45%, P:55%.</strong>
      <br>
      <i class="fa fa-arrow-circle-right mr-2" aria-hidden="true"></i>
      Note how the two percentages for each pair of opposing traits
       add up to 100%.
     </li>
     <li class="list-group-item mb-0 pt-2 pb-0">
      If you take the
       <a href="https://keirsey.com/" class="font-weight-bold"
          title="Link to the home page at keirsey.com" target="_blank">
        Keirsey Temperament Sorter</a>,
       just send the 8 numbers and letters at the bottom of the answer sheet.
     </li>
     <li class="list-group-item mb-0 pt-2 pb-0">
      If your results show you split evenly, 50%/50%, between a pair of
       opposing traits, you must pick one or the other.
      Consider trying a
        <a href="http://www.humanmetrics.com/personality"
           title="Link to the quiz at humanmetrics.com" target="_blank">
         different quiz</a>
        and get a second opinion.
     </li>
     <li class="list-group-item font-weight-bold mb-0 pt-2 pb-0">
      If you did not provide results that meet this requirement, we will not
       be able to produce your image.
     </li>
     <li class="list-group-item font-weight-bold mb-0 pt-2 pb-0">
      If you fail to receive an invoice from us, try fixing the format of
       the results you provided and resubmitting your request.
     </li>
    </ul>
   </li>
   <li class="list-group-item">
    2. The <q><u>brief explanation</u></q> we send will be similar
      to the explanations that appear when you click on the
      <q>Explain the [Blue/Green/Red/Yellow]</q> buttons
      for an image in one of the Galleries on SeeOurMinds.com.
   </li>
  </ul>
  <p>
  </p>
 </div><!-- .col-* -->
</div><!-- .row -->

{% endblock %}

{% block footer %}
{% endblock %}
