{% extends "thanks/thanks_base.html" %}

{% block title %}Thank You for Your Purchase - {% endblock %}

{% block thanks_content %}
 <p class="lead text-center font-weight-bold my-4">
  Thank You for Your Request!
 </p>
 <ul class="list-group list-group-flush mb-3">
  <li class="list-group-item">
   We will attempt to verify your request as soon as we get a chance
  </li>
 </ul>
 <p class="lead text-center my-4">
  Once we verify you are who you claim to be, we will create and post your
   spiritual portrait
 </p>
{% endblock %}

{% block conversion_process %}
<div class="row align-items-center justify-content-center">
 <div class="col-sm-10">
  <div class="card hoverable m-2">
   <div class="card-body">
    <p class="lead text-center my-4">
     <strong><u>Thank you</u></strong> again for willing to be transparent!
    </p>
   </div><!-- .card-body -->
  </div><!-- .card -->
 </div><!-- .col-sm-10 -->
</div><!-- .row -->
{% endblock %}

{% block conversion_footnotes %}
{% endblock %}

{% block footer %}
{% endblock %}
