{% extends "thanks/thanks_base.html" %}

{% block title %}Thanks for subscribing {% endblock %}

{% block navbar %}
{% endblock %}

{% block thanks_content %}
 <p class="lead text-center my-4">
  I send the newsletter only when I have something important to share.
 </p>
 <p>
  If you ever want to get off the list, just follow the instructions at
   the bottom of the most recent email you've received.
 </p>
{% endblock %}

{% block conversion_process %}
<div class="row align-items-center justify-content-center">
 <div class="col-sm-10">
  <div class="card hoverable m-2">
   <div class="card-body">
    <h2 class="card-title h2-responsive font-weight-bold text-center">
     What to Expect</h2>
    <ul class="list-group">
     <li class="list-group-item">
      I will send you information about:
      <ul class="list-group">
       <li class="list-group-item">
        Ideas I am working on to help improve the quality of Spiritual Portraits&trade;
       </li>
       <li class="list-group-item">
        New books about Spiritual Portraits&trade; &mdash; and where you can find them
       </li>
       <li class="list-group-item">
        Discounts and special offers on Spiritual Portraits&trade; &mdash;
         which are available on
         <a href="/" title="Groja.com home page">
          Groja.com</a>
       </li>
       <li class="list-group-item">
        New features on
         <a href="https://www.ArtsyVisions.com" title="ArtsyVisions.com home page">
          ArtsyVisions.com</a>
         and
         <a href="https://www.seeourminds.com" title="SeeOurMinds.com home page">
          SeeOurMinds.com</a>
       </li>
      </ul>
      Once a month at the very most.
     </li>
     <li class="list-group-item font-weight-bold text-center">
      Keep an eye out on one of these social sites networking for the spiritual portraits
       of your favorite people and fictional characters!
     </li>
    </ul>
   </div><!-- .card-body -->
  </div><!-- .card -->
 </div><!-- .col-sm-10 -->
</div><!-- .row -->
{% endblock %}

{% block thanks_buttons %}
 {{ super() }}
 <a class="btn btn-primary btn-rounded" href="http://www.SeeOurMinds.com"
    title="SeeOurMinds.com home page" role="button">
  Visit SeeOurMinds.com</a>
{% endblock %}

{% block conversion_footnotes %}
{% endblock %}

{% block footer %}
{% endblock %}
