/* ==========================================================================
 * My CusTOM styles
 * ==========================================================================
 * For details, see the README.md file in this directory.
 */

/*
 * Unsure why our content appears behind the navigation
 * It's the same code from the play area, always_learning_google_products
 * It might have something to do with the python templating -
 *   Tried moving the main element to base.html, which changed things,
 *     but shouldn't have....
 * Regardless of the cause, adding a margin to the main tag fixes the issues
 */
main {
  margin: 9em 0 3em 0;
}
.jumbotron h2 {
   font-size: 2.5em;
   font-weight: bold;
}

/*
 * For the "... follow us ..." sidebox
 * Inspired by code on these pages:
 *    http://ksloan.net/css-color-definitions-for-font-awesome-social-icons/
 *    http://www.kodingmadesimple.com/2014/11/create-stylish-bootstrap-3-social-media-icons.html
 */
i.fa-2x {
   margin: 3px;
}
i.fa-2x:hover {
  font-size: 2.5em;
  margin: 0px;
  text-shadow: 4px 4px lightgrey;
}
.fa-facebook, .fa-facebook-square {
  color: #ffffff;
}
.fa-twitter, .fa-twitter-square {
  color: #ffffff;
}
.fa-github, .fa-github-alt {
  color: #ffffff;
}
.fa-instagram {
  color: #ffffff;
}
.fa-pinterest, .fa-pinterest-square {
  color: #ffffff;
}
.fa-google-plus, .fa-google-plus-square {
  color: #ffffff;
}
.fa-linkedin, .fa-linkedin-square {
  color: #ffffff;
}
/*
 * For the Books and Sites Page:
 */
img.book-cover-left,
img.book-cover-right {
  height: auto;
  width: 90%;
}
figure.book-cover-left {
  margin: 1em;
  float: left;
  width: 25%;
}
figure.book-cover-right {
  margin: 1em;
  float: right;
  width: 25%;
}
/*
 * For the Contact Us page:
 * List of hex codes for html entities:
 *    https://www.w3schools.com/charsets/ref_html_entities_r.asp
 */
ul.social-list,
ul.old-school-list {
  list-style: none;
}
li.step-title {
  font-weight: bold;
  text-decoration: underline;
}

/*
 * For the legal pages
 */
.legal-page {
  margin: 3em;
  padding: 3em;
}
/*
 * Keep images etc. from overflowing their containers
 * Reference:
 *   https://developers.google.com/web/fundamentals/design-and-ui/responsive/images#use_relative_sizes_for_images
 */
img, embed, object, video {
  max-width: 100%;
}

/*
 * These font-awesome-inspired bullets are interesting but
 * I decided I hate them.  Keeping the code in comments here
 * in case I change my mind or want to do something similar
 * with another character or icon.
 *
 * li.social-list:before,
 * li.old-school-list:before {
 *    content: '\021AA';   /* &rarrhk; */
 *    padding: .3em;
 * }
 */
