
{% set navbar_color = "navbar-dark indigo" %}
{% set fixed_top = "fixed-top" %}
{% set logo_height = "30px" %}
{% set fixed_bottom = "fixed-bottom" %}

{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
 <main class="mt-5 mb-5">
  <div class="container mt-5 mb-5">
   <div class="row justify-content-center">
    <div class="col-md-6 mt-5 mb-5">
     <div class="card hoverable m-2">
      <div class="card-body">
       <h2 class="card-title h2-responsive font-weight-bold text-center">
        Page Not Found
       </h2>
       <p class="card-text">
        Rats, the page you requested could not be found.
       </p>
      </div><!-- .card-body -->
      <div class="card-footer">
       <p class="card-text text-center">
        <a class="btn btn-default" href="/home" role="button">
         Go Home</a></p>
      </div><!-- .card-footer -->
     </div><!-- .card -->
    </div><!-- .col-md-6 -->
   </div><!-- .row -->
  </div><!-- .container -->
 </main>
{% endblock %}

{% block footer %}
 {{ super() }}
{% endblock %}
