{% extends "base.html" %}

{% block title %}About {% endblock %}

{% block content %}
 <main class="mt-3">
  <div class="container-fluid">
   <div class="about-page z-depth-1-half">
    <a name="inspiration"></a>
    <div class="row justify-content-center">
     <div class="col-md-9 hoverable m-2">
      <h1 class="display-4 font-weight-bold text-center">
       About Spiritual Portraits</h1>
     </div><!-- .col-md-9 -->
    </div><!-- .row -->

    <div class="row justify-content-center">
     <div class="col-md-10">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h5 class="h5-responsive font-weight-bold text-center">
         GROJA stands for <u>G</u>raphical <u>R</u>epresentations <u>o</u>f
          <u>J</u>ungian <u>A</u>rchetypes.</h5>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-10 -->
    </div><!-- .row -->

    <div class="row align-items-center justify-content-around">
     <div class="col-md-6">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h2 class="card-title h2-responsive font-weight-bold  text-center">
         <i class="fa fa-lg fa-heart my-2 py-2" aria-hidden="true"></i>
         <i class="fa fa-lg fa-heart-o my-2 py-2 mx-2 px-2" aria-hidden="true"></i>
         <i class="fa fa-lg fa-heart my-2 py-2" aria-hidden="true"></i><br>
         Inspiration</h2>
        <p class="card-text">
         Inspired by the work of
          <a href='https://medium.com/@tomwhartung/the-prophetic-vision-of-piet-mondrian-part-1-equilibrium-in-art-and-life-c2b7ba006fd5'
             title='Link to a fascinating article about Piet Mondrian at medium.com/@tomwhartung'
             target='_blank'>Piet Mondrian</a>,
          <a href='https://www.facebook.com/carl.jung.gustav/'
             title='Link to the page about Carl Jung at facebook.com'
             target='_blank'>Carl Jung</a>,
          <a href='https://medium.com/@tomwhartung/concerning-kandinskys-concerning-the-spiritual-in-art-f2f3d1ca750e'
             title='Link to a fascinating article about Wassily Kandinsky at medium.com/@tomwhartung'
             target='_blank'>Wassily Kandinsky</a>,
          <a href='http://myersbriggs.org/' title='Link to the Home page at myersbriggs.org'
             target='_blank'>Isabel Briggs Myers</a>, and
          <a href='http://www.keirsey.com/' title='Link to the Home page at www.keirsey.com'
             target='_blank'>David Keirsey</a>, the
          <a href='https://www.groja.com/about'
             title='Link to a page about the Groja Program at ' target='_blank'>
             GROJA &copy; Program</a>
          creates
          <a href='https://medium.com/@tomwhartung/music-meaning-and-modern-art-part-1-of-3-84fe10f480a2'
             title='Link to a fascinating series of articles about abstractions at medium.com'
             target='_blank'>abstract</a>
          portraits of individuals' personalities based on their answers to
          questions on a four-letter personality type questionnaire.</p>
        <p class="card-text">
         To see your personality, or that of a friend, loved one, or co-worker,
          click below to
          <a href="yourportrait" title="Link to Your Portrait page">
           get your portrait</a>!</p>
        <p class="card-text text-center">
         <a class="btn btn-primary btn-lg" href="yourportrait" role="button">
            Get Your Spiritual Portrait &raquo;</a></p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-6 -->
     <div class="col-md-5">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h2 class="card-title h2-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-flash my-2 py-2" aria-hidden="true"></i>
         <i class="fa fa-lg fa-flash my-2 py-2 mx-2 px-2" aria-hidden="true"></i>
         <i class="fa fa-lg fa-flash my-2 py-2" aria-hidden="true"></i><br>
         Tom H.: INFP</h2>
        <p class="card-text text-center text-center">
         <img class="img-fluid hoverable"
              src="{{ url_for('static', filename='images/site/infp-tomh_1987-scaled_200x200.gif') }}">
        </p>
        <p class="card-text">
         When I first learned that I was an INFP, it was
          <a href="#wrong-planet"
             title="Scrolls down to the 'On the Wrong Planet?' section on this page">
           life-altering.</a>
         I would like to help you on a similar journey of greater self-awareness!</p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-5 -->
    </div><!-- .row -->

    <div class="w-100"><hr></div>

    <a name="about"></a>
    <div class="row justify-content-center">
     <div class="col-md-6">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h1 class="h1-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-info-circle m-2 p-2" aria-hidden="true"></i><br>
         About Groja.com</h1>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-6 -->
     <div class="w-100"></div>
     <div class="col-md-10">
      <div class="card hoverable m-2 p-2">
       <h2 class="card-title h2-responsive font-weight-bold text-center">
        <i class="fa fa-lg fa-video-camera m-2 p-2" aria-hidden="true"></i><br>
        About Spiritual Portraits &mdash; in 35 seconds</h2>
       <div class="card-body">
         <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item"
                  src="https://www.youtube.com/embed/3DcMVt_h2bo"></iframe>
         </div>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-10 -->
    </div><!-- .row -->

    <div class="row align-items-center justify-content-around">
     <div class="col-md-5">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h2 class="card-title h2-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-question-circle my-2 py-2" aria-hidden="true"></i>
         <i class="fa fa-lg fa-question-circle my-2 py-2 mx-2 px-2" aria-hidden="true"></i>
         <i class="fa fa-lg fa-question-circle my-2 py-2" aria-hidden="true"></i><br>
         Why Draw Personalities?</h2>
        <p class="card-text">
         Hello, my name is Tom Hartung, and all my life I have tried to see
          past the surface and into the essence and substance of people.</p>
        <p class="card-text">
         I'd like to share with you a bit of what I've learned over the years
          and, in the process, help you see past the surface, too.
         And I'd like to create your Spiritual Portrait &mdash;
          your GROJA.
        </p>
        <p class="card-text">
         Each image is a unique representation of a unique personality,
          and I want to help you and everyone else see the unique inner beauty
          that each of us possesses.</p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-5 -->
     <a name="manifesto"></a>
     <div class="col-md-6">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h2 class="card-title h2-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-exclamation-circle my-2 py-2" aria-hidden="true"></i>
         <i class="fa fa-lg fa-exclamation-circle my-2 py-2 mx-2 px-2" aria-hidden="true"></i>
         <i class="fa fa-lg fa-exclamation-circle my-2 py-2" aria-hidden="true"></i><br>
         Manifesto: A Statement of Purpose</h2>
        <p class="card-text">
         Does this seem complicated?</p>
        <p class="card-text">
         Is it at all obvious that this idea's roots are in abstract paintings
          done close to a hundred years ago?
         I hope so, but if not, let's clear something up right now.</p>
        <p class="card-text">
         At its core, the purpose of this idea is two-fold:</p>
        <ul class="standalone">
         <li>
          To enable us to see the invisible</li>
         <li>
          To promote harmony between opposites</li>
        </ul>
        <p class="card-text">
         See, it's really not that complicated after all!</p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-6 -->
    </div><!-- .row -->

    <div class="w-100"><hr></div>

    <a name="books"></a>
    <div class="row justify-content-center">
     <div class="col-md-4">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h1 class="h1-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-book m-2 p-2" aria-hidden="true"></i><br>
         Books</h1>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-4 -->
    </div><!-- .row -->

    <div class="row align-items-center justify-content-around">
     <div class="col-md-4">
      <div class="card hoverable m-2">
       <div class="card-body">
        <p class="card-text">
         These books &mdash; listed by year of publication &mdash;
          gave me the idea for these Spiritual Portraits, and
          helped me formulate the logic underlying the Groja &copy; Program.</p>
        <p class="card-text indigo-text font-weight-bold">
         We highly recommend each of these books!</p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-4 -->
     <div class="col-md-7">
      <div class="card hoverable m-2">
       <div class="card-body">
        <p class="card-text text-danger">
         This section contains affiliate marketing links.
         If you follow one of these links and make a purchase, we earn a small
          commission, &mdash; at no additional cost to you &mdash; which helps
          us keep this site running.
         </p>
        <p class="card-text">
         To learn more, read our
          <a class="" target="_blank"
             href="/legal/affiliate_marketing_disclosure"
             title="Affiliate Marketing Disclosure page on this site">
          Affiliate Marketing Disclosure</a>.
         </p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-7 -->
    </div><!-- .row -->

    <div class="row align-items-center justify-content-around">
     <div class="card-group">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h4 class="card-title h4-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-book m-2 p-2" aria-hidden="true"></i><br>
         <em>Concerning the Spiritual in Art</em> by Wassily Kandinsky, 1912</h4>
        <p class="card-text text-center">
         <img src="{{ url_for('static', filename='images/site/Wassily_Kandinsky-Concerning_the_Spiritual_in_Art.jpg') }}"
              alt="Cover of Concerning the Spiritual in Art: Text with one of Kandinsky's abstract paintings in the center"
              class="img-fluid hoverable"></a>
        </p>
        <p class="card-text">
          In this book Kandinsky examines society as a whole in the context of history, and
           teaches us to look past the surface of art and examine how works affect us emotionally.
          To try to summarize this enlightening book in a single sentence is to do it a great disservice.
          Fortunately for us it's now available at archive.org for free (see the link below).
        </p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         <a class="btn btn-default" href="#" role="button">
          Button</a></p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
      <div class="card hoverable m-2">
       <div class="card-body">
        <h4 class="card-title h4-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-book m-2 p-2" aria-hidden="true"></i><br>
         <em>Psychological Types</em> by Carl Jung, 1921</h4>
        <p class="card-text text-center">
         <img src="{{ url_for('static', filename='images/site/Carl_Jung-General_Description_of_the_Types.jpg') }}"
              alt="Cover of General Description of the Types: red stick figure on a black background"
              class="img-fluid hoverable"></a>
        </p>
        <p class="card-text">
          You can find Jung's original work for a
           <a href="https://www.amazon.com/General-Description-Types-Carl-Jung-ebook/dp/B004M8T16K"
              title="Link to Jung's book for sale at a very reasonable price on amazon.com"
              target="_blank">reasonable price</a>
           or even for
           <a href="http://psychclassics.yorku.ca/Jung/types.htm" target="_blank"
              title="Link to Jung's book available for free online at at psychclassics.yorku.ca">
            free online</a>
          Note however that he originally wrote it in German and
            the translation can be a little difficult to read.
          Someone new to this (and less interested in the theory) may want to
            pick up a copy of Isabel Briggs Myers or David Keirsey's books first.
        </p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         <a class="btn btn-default" href="#" role="button">
          Button</a></p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
      <div class="card hoverable m-2">
       <div class="card-body">
        <h4 class="card-title h4-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-book m-2 p-2" aria-hidden="true"></i><br>
          <em>Point and Line to Plane</em> by Wassily Kandinsky, 1926</h4>
        <p class="card-text text-center">
         <img src="{{ url_for('static', filename='images/site/Wassily_Kandinsky-Point_and_Line_to_Plane.jpg') }}"
              alt="Cover of Point and Line to Plane: Text with one of Kandinsky's abstract paintings in the center"
              class="img-fluid hoverable"></a>
        </p>
        <p class="card-text">
          This wonderful book makes a science out of art, breaking down the geometric plane of
           the artist's into its essential elements: points, lines, and planes.
          Fortunately for us it's now available at archive.org for free (see the link below).
        </p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         <a class="btn btn-default" href="#" role="button">
          Button</a></p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
     </div><!-- .card-group -->

     <div class="card-group">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h4 class="card-title h4-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-book m-2 p-2" aria-hidden="true"></i><br>
         <em>Gifts Differing</em> by Isabel Briggs Myers and Peter Myers, 1980</h4>
        <p class="card-text text-center">
         <img src="{{ url_for('static', filename='images/site/Isabel_Briggs_Myers-Gifts_Differing-1.jpg') }}"
              alt="Cover of Isabel Briggs Myers' book, Gifts Differing: sixteen colored squares on a light background"
              class="img-fluid hoverable"></a>
        </p>
        <p class="card-text">
          This book by the originator of the Myers-Briggs Type Indicator (MBTI) makes
           Jung's theories easier to understand &mdash; and even practical in
           our day-to-day lifes.</dd>
        </p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         <a class="btn btn-default" href="#" role="button">
          Button</a></p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
      <div class="card hoverable m-2">
       <div class="card-body">
        <h4 class="card-title h4-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-book m-2 p-2" aria-hidden="true"></i><br>
         <em>Please Understand Me</em> by David Keirsey and Marilyn Bates, 1984</h4>
        <p class="card-text text-center">
         <img src="{{ url_for('static', filename='images/site/David_Keirsey-Please_Understand_Me.jpg') }}"
              alt="Cover of David Keirsey's Please Understand Me: lettering on a dark blue background"
              class="img-fluid hoverable"></a>
        </p>
        <p class="card-text">
          This book builds on Jung's and Myers' work.
          He groups the sixteen types into four temperaments, which makes it a lot
           easier to see these qualities at work in the people we interact with on a daily basis.
          It is also a good one to have because it starts off with a short yet accurate
           quiz that can help you determine your four-letter type fairly quickly.</dd>
        </p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         <a class="btn btn-default" href="#" role="button">
          Button</a></p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
      <div class="card hoverable m-2">
       <div class="card-body">
        <h4 class="card-title h4-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-book m-2 p-2" aria-hidden="true"></i><br>
         <em>The New Art, the New Life, the Collected Works of Piet Mondrian</em>,
          edited and translated by Harry Holtzman and Martin S. James, 1986</h4>
        <p class="card-text text-center">
         <img src="{{ url_for('static', filename='images/site/Piet_Mondrian-The_New_Art_The_New_Life.jpg') }}"
              alt="Cover of the book, The Collected Works of Piet Mondrian: features one of Mondrian's pure plastic paintings"
              class="img-fluid hoverable"></a>
        </p>
        <p class="card-text">
          Like Jung's, Mondrian's writings can be difficult to read sometimes, but
           it is well worth the effort it takes to read them.
          Importantly, he believed strongly that the fact that because opposites in form and color
           can exist in harmony on a canvas, people who manifest opposites in personality
           can exist in harmony in our society.
        </p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         <a class="btn btn-default" href="#" role="button">
          Button</a></p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
     </div><!-- .card-group -->

     <div class="card-group">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h4 class="card-title h4-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-book m-2 p-2" aria-hidden="true"></i><br>
         <em>Por Favor Comprendeme (Please Understand Me)</em>
         by David Keirsey and Marilyn Bates, 1990</h4>
        <p class="card-text text-center">
         <img src="{{ url_for('static', filename='images/site/David_Keirsey-Por_Favor_Comprendeme.jpg') }}"
              alt="Cover of the Spanish language version of David Keirsey's Please Understand Me: lettering on a dark blue background"
              class="img-fluid hoverable"></a>
        </p>
        <p class="card-text">
         I actually have four copies of David Keirsey and Marilyn Bates' book &mdash;
              three in English and one in Spanish!</p>
        <p class="card-text">
         The first one got pretty beat up so I bought a replacement.
         When he came out with the second edition I of course had to buy that.
         Then one day I saw the Spanish version for sale and couldn't
          resist picking that up.</p>
        <p class="card-text">
         It should go without saying that I recommend recommend it highly!</p>
        </p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         <a class="btn btn-default" href="#" role="button">
          Button</a></p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
      <div class="card hoverable m-2">
       <div class="card-body">
        <h4 class="card-title h4-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-book m-2 p-2" aria-hidden="true"></i><br>
         <em>Please Understand Me II</em> by David Keirsey and Marilyn Bates, 1998</h4>
        <p class="card-text text-center">
         <img src="{{ url_for('static', filename='images/site/David_Keirsey-Please_Understand_Me_II.jpg') }}"
              alt="Cover of David Keirsey's Please Understand Me II: lettering on a dark blue background"
              class="img-fluid hoverable"></a>
        </p>
        <p class="card-text">
         This updated edition contains the same quiz as the original, but delves more deeply into
          the descriptions of the four temperaments and how they interact with each other.</dd>
        </p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         <a class="btn btn-default" href="#" role="button">
          Button</a></p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
      <div class="card hoverable m-2">
       <div class="card-body">
        <h4 class="card-title h4-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-book m-2 p-2" aria-hidden="true"></i><br>
         <em>Presidential Temperament</em> by David Keirsey and Raymond Choiniere, 2015</h4>
        <p class="card-text text-center">
         <img src="{{ url_for('static', filename='images/site/David_Keirsey-Presedential_Temperament.jpg') }}"
              alt="Cover of Presidential Temperament by David Keirsey: black lettering on a white background"
              class="img-fluid hoverable"></a>
        </p>
        <p class="card-text">
         I have always wondered what sort of role &mdash; if any &mdash; the
          archetypes Jung identified might play in politics.
         In this book, David Keirsey offers many valuable insights in the always
          interesting stories about America's top leaders.
         I may disagree with some of David Keirsey's assessments, but always find
          them interesting.
        </p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         <a class="btn btn-default" href="#" role="button">
          Button</a></p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
     </div><!-- .card-group -->
    </div><!-- .row -->

    <div class="w-100"><hr></div>

    <a name="sites"></a>
    <div class="row justify-content-center">
     <div class="col-md-4">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h1 class="h1-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-sitemap m-2 p-2" aria-hidden="true"></i><br>
         Sites</h1>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-4 -->
    </div><!-- .row -->

    <div class="row align-items-center justify-content-around">
     <div class="col-md-9">
      <div class="card hoverable m-2">
       <div class="card-body">
        <p class="card-text">
         These sites make much of this information available quickly and easily to
          those interested in learning more.</p>
        <p class="card-text">
         It helps, though, to know where to look.</p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-9 -->
    </div><!-- .row -->

    <div class="row">
     <div class="card-group">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h2 class="card-title h2-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-eye m-2 p-2" aria-hidden="true"></i><br>
         SeeOurMinds</h2>
        <p class="card-text">
          Last but not least, groja.com's sibling site,
           <a href="http://www.seeourminds.com/"
              title="SeeOurMinds.com home page" target="_blank">SeeOurMinds.com</a></dt>
           is host to a gallery full of Spiritual Portraits and the
           <a href="http://www.seeourminds.com/quiz"
              title="seeourminds.com home page" target="_blank">Groja &copy; Quiz</a>.
        </p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         <a class="btn btn-default" role="button" target="_blank"
            href="http://www.seeourminds.com/"
            title="SeeOurMinds.com home page">
             Visit SeeOurMinds.com</a></p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
      <div class="card hoverable m-2">
       <div class="card-body">
        <h2 class="card-title h2-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-group m-2 p-2" aria-hidden="true"></i><br>
         Keirsey.com</h2>
        <p class="card-text">
          There's plenty to see and learn at
           <a href="http://www.keirsey.com/default.aspx" title="Keirsey.com home page" target="_blank">Keirsey.com</a>!
          In addition to descriptions of the four temperaments and copies of his book, he offers assessments, analysis, and coaching.
        </p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         <a class="btn btn-default" role="button" target="_blank"
            href="http://www.keirsey.com/default.aspx" title="Keirsey.com home page">
          Visit Keirsey.com</a></p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
      <div class="card hoverable m-2">
       <div class="card-body">
        <h2 class="card-title h2-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-university m-2 p-2" aria-hidden="true"></i><br>
         Myers and Briggs Foundation</h2>
        <p class="card-text">
          Keeping the spirit of Isabel Briggs Meyers alive, the
           <a href="http://www.myersbriggs.org/"
              title="Myers and Briggs Foundation home page" target="_blank">Myers and Briggs Foundation</a>
           site is full of resources, including information about taking the
           <a href="http://www.myersbriggs.org/my-mbti-personality-type/take-the-mbti-instrument/"
              title="Page about how to take the MBTI &reg; instrument" target="_blank">
            MBTI &reg; Instrument</a>
           and becoming certified through their
           <a href="http://www.myersbriggs.org/using-type-as-a-professional/certify-to-administer-the-mbti-tool/"
              title="Page on myersbrings.org about the MBTI &reg; certification program"
              target="_blank">MBTI &reg; Certification Program</a>.
        </p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         <a class="btn btn-default" role="button" target="_blank"
            href="http://www.myersbriggs.org/"
            title="Myers and Briggs Foundation home page">
          Visit MyersBriggs.org</a></p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
     </div><!-- .card-group -->

     <div class="card-group">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h2 class="card-title h2-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-tv m-2 p-2" aria-hidden="true"></i><br>
         HumanMetrics</h2>
        <p class="card-text">
          Ready to learn what your four-letter type is without further ado?
          Head on over to the
           <a href="http://www.humanmetrics.com/cgi-win/jtypes2.asp"
              title="HumanMetrics.com home page" target="_blank">Jung Typology Test &trade;</a>
           at
           <a href="http://www.humanmetrics.com/"
              title="HumanMetrics.com home page" target="_blank">HumanMetrics.com</a>.
          This interesting site has additional tests and interesting related resources,
           such as some that can help you with your marriage and job.
        </p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         <a class="btn btn-default" role="button" target="_blank"
            href="http://www.humanmetrics.com/"
            title="HumanMetrics.com home page">
          Visit HumanMetrics.com</a></p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
      <div class="card hoverable m-2">
       <div class="card-body">
        <h2 class="card-title h2-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-wikipedia-w m-2 p-2" aria-hidden="true"></i><br>
         The Wikipedia</h2>
        <p class="card-text">
          The <a href="https://en.wikipedia.org/wiki/Main_Page"
                 title="Home page of the English language wikipedia" target="_blank">wikipedia</a>
           is as good a place as any to get started.
          There are pages on the site about the painters
           <a href="https://en.wikipedia.org/wiki/Piet_Mondrian"
              title="Page about Piet Mondrian on wikipedia.org" target="_blank">Piet Mondrian</a> and
           <a href="https://en.wikipedia.org/wiki/Wassily_Kandinsky"
              title="Page about Wassily Kandinsky on wikipedia.org" target="_blank">Wassily Kandinsky</a>.
          And there are pages about the psychologists and their theories of
           <a href="https://en.wikipedia.org/wiki/Personality_type"
              title="Page about personality types on wikipedia.org" target="_blank">personality types</a>.
          There are pages about
           <a href="https://en.wikipedia.org/wiki/Carl_Jung"
              title="Page about Carl Jung on wikipedia.org" target="_blank">Carl Jung</a>
           and his book
           <a href="https://en.wikipedia.org/wiki/Psychological_Types"
              title="Page about Psychological Types on wikipedia.org" target="_blank">Psychological Types</a>.
          There are pages about
           <a href="https://en.wikipedia.org/wiki/Isabel_Briggs_Myers"
              title="Page about Isabel Briggs Myers on wikipedia.org" target="_blank">Isabel Briggs Myers</a>,
           her book
           <a href="https://en.wikipedia.org/wiki/Gifts_Differing:_Understanding_Personality_Type"
              title="Page about Gifts Differing on wikipedia.org" target="_blank">Gifts Differing</a>,
           and the
           <a href="https://en.wikipedia.org/wiki/Myers%E2%80%93Briggs_Type_Indicator"
              title="Page about the MBTI &reg; on wikipedia.org" target="_blank">MBTI &reg;</a>.
          And there are pages about
           <a href="https://en.wikipedia.org/wiki/David_Keirsey"
              title="Page about David Keirsey on wikipedia.org" target="_blank">David Keirsey</a>,
           his book
           <a href="https://en.wikipedia.org/wiki/Please_Understand_Me"
              title="Page about Please Understand Me on wikipedia.org" target="_blank">Please Understand Me</a>,
           and the
           <a href="https://en.wikipedia.org/wiki/Keirsey_Temperament_Sorter"
              title="Page about Keirsey Temperament Sorter on wikipedia.org" target="_blank">Keirsey Temperament Sorter</a>.
          There's never a dull moment when a curious mind has access to the wikipedia!
        </p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         <a class="btn btn-default" target="_blank" role="button"
            href="https://en.wikipedia.org/wiki/Main_Page"
            title="Home page of the English language wikipedia">
          Visit Wikipedia.org</a></p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
      <div class="card hoverable m-2">
       <div class="card-body">
        <h2 class="card-title h2-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-quote-left my-2 mr-2 py-2" aria-hidden="true"></i>
         <i class="fa fa-lg fa-quote-right my-2 ml-2 py-2" aria-hidden="true"></i><br>
         Wikiquote.org</h2>
        <p class="card-text">
          If you'd rather hear <em>from</em> these people than <em>about</em> them, then
           <a href="https://en.wikiquote.org/wiki/Main_Page"
             title="Home page of the English language Wikiquote.org site" target="_blank">Wikiquote.org</a>
           is the site for you!
          There are quotes from Carl Jung and Isabel Briggs Myers on the
           <a href="https://en.wikiquote.org/wiki/Psychological_type"
              title="Page with quotes about Psychological Type on Wikiquote.org" target="_blank">Psychological Type</a>,
           page.
          The site also includes pages with quotes by
           <a href="https://en.wikiquote.org/wiki/Piet_Mondrian"
              title="Page with quotes by Piet Mondrian on Wikiquote.org" target="_blank">Piet Mondrian</a>,
           <a href="https://en.wikiquote.org/wiki/Wassily_Kandinsky"
              title="Page with quotes by Wassily Kandinsky on Wikiquote.org" target="_blank">Wassily Kandinsky</a>,
           and more from
           <a href="https://en.wikiquote.org/wiki/Carl_Jung"
              title="Page with quotes by Carl Jung on Wikiquote.org" target="_blank">Carl Jung</a>.
        </p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         <a class="btn btn-default" target="_blank" role="button"
            href="https://en.wikiquote.org/wiki/Main_Page"
            title="Home page of the English language Wikiquote.org site">
          Visit Wikiquote.org</a></p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
     </div><!-- .card-group -->
    </div><!-- .row -->

    <div class="w-100"><hr></div>

    <a name="history"></a>
    <a name="backstory"></a>
    <div class="row justify-content-center">
     <div class="col-md-7">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h1 class="h1-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-history m-2 p-2" aria-hidden="true"></i><br>
         The Backstory</h1>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-7 -->
    </div><!-- .row -->

    <div class="row align-items-center justify-content-around">
     <div class="col-md-10">
      <div class="card hoverable m-2">
       <div class="card-body">
        <p class="card-text">
         To learn the story behind the Groja &copy; program and groja.com , read on.</p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-10 -->
    </div><!-- .row -->

    <div class="row align-items-center justify-content-around">
     <div class="col-md-5">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h2 class="card-title h2-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-male m-2 p-2" aria-hidden="true"></i><br>
         A Programmer Walks Into an Art History Class...</h2>
        <p class="card-text">
          One day in a History of Modern Painting (Art History) class at
           Virginia Commonwealth University
           (<a href="http://www.vcu.edu/" title="VCU.edu home page"
               target="_blank">VCU</a>)
           the teacher introduced us to Piet Mondrian.
          She said that what he did might look easy, but if you try to
           do it yourself, you will find it is very difficult.</p>
        <p class="card-text">
          The teacher tried to impress upon us how difficult it is to produce
           something like this.
          But as someone who was extremely interested in and excited about
           Artificial Intelligence at the time, I couldn't stop the thought that
           <span class="air-quotes">maybe a computer could do that!</span>
           from jumping into my head.</p>
        <p class="card-text">
          By this time I also had some interest in psychology &mdash; and
            had discovered Carl Jung's, Isabel Briggs Myers', and David Keirsey's work.
        <p class="card-text">
          Trying to think of how to write a program to
           <span class="air-quotes">do that</span>
           was definitely a challenge.</p>
        <p class="card-text">
          Reading Mondrian's writings increased my admiration for the man.
          It is amazing &mdash; but not entirely surprising &mdash; to learn
           he lived much of his life in poverty.</p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-5 -->
     <div class="col-md-7">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h2 class="card-title h2-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-hourglass-half m-2 p-2" aria-hidden="true"></i><br>
         Versions</h2>
        <p class="card-text">
         Following is a list of the versions of the Groja Program &copy; I have written:</p>
        <dl class="standalone">
          <dt>
            <em>1989 </em>Grad School IBM 8086 PC version</dt>
          <dd>
            Written in LISP for my Interdisciplinary Masters Degree.
          </dd>
          <dt>
            <em>2001 </em>Raw PHP 4 version</dt>
          <dd>
            Not Object Oriented and a hellish interface, but it drew images
             (until the register globals thing).
          </dd>
          <dt>
            <em>2005 </em>PHP Nuke version</dt>
          <dd>
            The best thing I can say about PHP Nuke is, it made me willing to
             try out Joomla, WordPress, and Drupal.
          </dd>
          <dt>
            <em>2008 </em>Joomla 1.x version</dt>
          <dd>
            An attempt to create a social, web 2.0, rolling-blog type of site.
            I am not the type to monitor or even promote this type of site.
            Now the software but even the basic goals and paradigm of the site is totally obsolete.
          </dd>
          <dt>
            <em>20?? </em>Next version?!?</dt>
          <dd>
            Now that there are so many new technologies, and they are all changing so fast,
             it is difficult to prioritize on how to build on this idea.
            That is why I am making this personal: talking to users and
             creating individualized and personal portraits.
            This will fuel how I decide to continue with this work.
         </dd>
        </dl>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-7 -->
    </div><!-- .row -->

    <div class="w-100"><hr></div>

    <a name="wrong-planet"></a>
    <a name="growing-up"></a>
    <div class="row justify-content-center">
     <div class="col-md-7">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h1 class="h1-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-arrow-circle-down my-2 py-2" aria-hidden="true"></i>
         <i class="fa fa-lg fa-arrow-circle-down my-2 py-2 mx-2 px-2" aria-hidden="true"></i>
         <i class="fa fa-lg fa-arrow-circle-down my-2 py-2" aria-hidden="true"></i><br>
         Diving Deeper</h1>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-7 -->
    </div><!-- .row -->

    <div class="row align-items-center justify-content-around">
     <div class="col-md-7">
      <div class="card hoverable m-2">
       <div class="card-body">
        <p class="card-text">
         To delve deeper into the backstory, read on!</p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-7 -->
    </div><!-- .row -->

    <div class="row align-items-center justify-content-around">
     <div class="col-md-7">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h2 class="card-title h2-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-globe m-2 p-2" aria-hidden="true"></i><br>
         On the Wrong Planet?!?</h2>
        <p class="card-text">
         I have always felt like I was on the
          <span class="air-quotes">wrong planet,</span> &mdash;
          do you by any chance know what I mean?
        </p>
        <p class="card-text">
         If you know about these four-letter types, and are Introverted or
           iNtuitive or both (like me), maybe you know what I mean.
         Even my parents are my opposites in most ways, which can make things difficult.
        </p>
        <p class="card-text">
         Either you know what I'm talking about, or you don't.
        </p>
        <p class="card-text">
         Like everyone else, I have my own ideas and perceptions.
         I also have my own questionnaire, which wil be back online soon,
          and ultimately this is my own thing.
         And this is the site where I share it with you.</p>
        <p class="card-text">
          All of this is based on Carl Jung's theories and Wassily Kandidnsky's
            observations, so there is a historical precedent.
          My wish is to honor, carry on, and build on the work of my predecessors without
            stepping on any toes, legal or otherwise.</p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-7 -->
     <div class="col-md-5">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h2 class="card-title h2-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-meh-o m-2 p-2" aria-hidden="true"></i><br>
         Growing up Ain't for Sissies</h2>
        <p class="card-text">
          I believe growing up is difficult for all of us, and I was certainly no exception.
          Conforming to society's, parents', and our peers' expectations is easier for some
           than it is for others.
        </p>
        <p class="card-text">
          It took awhile for me to realize that some of the things that were natural and easy for
           others to do were unnatural and difficult for me.
          So I learned early on to respect others' differences, both superficial and otherwise.
        </p>
        <p class="card-text">
          As I grew into adulthood, I learned about the source of many of the invisible,
           intangible differences that can pose such a challenge for some of us.
          For this I give thanks to the lesssons learned from those mentioned on the
           <a href="#books" title="Link to the Books section on this page">
            books</a>
           section on this page,
        </p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-5 -->
    </div><!-- .row -->

   </div><!-- .about-page -->
  </div><!-- .container -->
 </main>
{% endblock %}
