{% set fixed_top = "fixed-top" %}
{% set logo_height = "50px" %}
{% set fixed_bottom = "fixed-bottom" %}

{% extends "base.html" %}

{% block head %}
 {{ super() }}
 <link href="{{ url_for('static', filename='css/home.css') }}"
       rel="stylesheet">
{% endblock %}

{% block navbar %}
 {{ super() }}
 <div id="intro" class="view">
  <div class="mask rgba-black-strong">
   <div class="container-fluid d-flex align-items-center justify-content-center h-75">
    <div class="row d-flex justify-content-center text-center">
     <div class="col-md-10">
      <!-- Heading -->
      <h2 class="display-2 font-weight-bold white-text mt-5">
       Groja.com</h2>
      <h2 class="h2-responsive font-weight-bold white-text mt-4">
       Visualizing Personalities Since 1989&trade;</h2>
      <hr class="hr-light mt-4">
      <h3 class="h3-responsive font-weight-bold white-text mt-4">
       <small>Using color to represent personal preferences, the GROJA &copy; Program
        draws images of individuals based on their answers to a questionnaire.</small>
      </h3>
      <button type="button" onclick="location.href='/yourportrait'"
              class="btn btn-lg btn-outline-white font-weight-bold btn-rounded waves-effect mt-4">
       Get Your Spiritual Portrait!</button>
     </div><!-- .col-md-10 -->
    </div><!-- .row -->
   </div><!-- .container-fluid .d-flex -->
  </div><!-- .mask -->
 </div><!-- #intro -->
{% endblock %}

{% block content %}
 <main class="mt-5">
  <div class="container-fluid">
   <div class="home-page z-depth-1-half">
    <div class="row">
     <div class="col-md-12">
      <h4 class="display-4 text-center mb-5">Learn More!</h4>
     </div><!-- .col-md-12 -->
    </div><!-- .row -->

    <div class="row">
     <div class="col-md-4">
      <h2>About</h2>
      <p>
       Learn the story behind the Groja Program &copy;, and
        see a list of the different versions.</p>
      <p>
       <a class="btn btn-default" href="about" role="button">
          About Grojas &raquo;</a></p>
     </div><!-- .col-md-4 -->
     <div class="col-md-4">
      <h2>Books and Sites</h2>
      <p>
       The original idea came totally from books,
        but much of that is now online, waiting for you to check it out!</p>
      <p>
       <a class="btn btn-default" href="booksandsites" role="button">
          Books and Sites &raquo;</a></p>
     </div><!-- .col-md-4 -->
     <div class="col-md-4">
      <h2>Galleries</h2>
      <p>
       See examples of many Spiritual Portraits in the Galleries at our sibling site,
        <a href="http://www.seeourminds.com"
           title="Link to the home page at SeeOurMinds.com" target="_blank">
         SeeOurMinds.com</a>.</p>
      <p>
       <a class="btn btn-default" href="galleries" role="button">
          View Galleries &raquo;</a></p>
     </div><!-- .col-md-4 -->
    </div><!-- .row -->
   </div><!-- .home-page -->
  </div><!-- .container-fluid -->
 </main>
{% endblock %}
