{% extends "base.html" %}

{% block head %}
 {{ super() }}
 <link href="{{ url_for('static', filename='css/home.css') }}"
       rel="stylesheet">
{% endblock %}

{% block navbar %}
 {{ super() }}
 <div id="intro" class="view">
  <div class="mask rgba-black-strong">
   <div class="container-fluid d-flex align-items-center justify-content-center h-75">
    <div class="row d-flex justify-content-center text-center">
     <div class="col-md-10">
      <!-- Heading -->
      <h2 class="display-2 font-weight-bold white-text mt-5">
       Groja.com</h2>
      <h2 class="h2-responsive font-weight-bold white-text mt-4">Visualizing Personalities Since 1989&trade;</h2>
      <hr class="hr-light mt-4">
      <h4 class="h4-responsive font-weight-bold white-text mt-4">
       Using color to represent personal preferences, the GROJA &copy; Program
        draws images of individuals based on their answers to a questionnaire.
      </h4>
      <button type="button" onclick="location.href='/yourportrait'"
              class="btn btn-outline-white btn-rounded waves-effect mt-4">
       Get Your Spiritual Portrait!</button>
     </div><!-- .col-md-10 -->
    </div><!-- .row -->
   </div><!-- .container-fluid .d-flex -->
  </div><!-- .mask -->
 </div><!-- #intro -->
{% endblock %}

{% block content %}
 <main class="mt-5">
  <div class="container-fluid">
   <div class="home-page z-depth-1-half">
    <div class="row">
     <div class="col-md-9">

      <h2>Groja.com: The <span class="air-quotes">Spiritual Portrait</span> Site</h2>
      <p>
        Inspired by the work of
         <a href='https://medium.com/@tomwhartung/the-prophetic-vision-of-piet-mondrian-part-1-equilibrium-in-art-and-life-c2b7ba006fd5'
            title='Link to a fascinating article about Piet Mondrian at medium.com/@tomwhartung' target='_blank'>Piet Mondrian</a>,
         <a href='https://www.facebook.com/carl.jung.gustav/'
            title='Link to the page about Carl Jung at facebook.com' target='_blank'>Carl Jung</a>,
         <a href='https://medium.com/@tomwhartung/concerning-kandinskys-concerning-the-spiritual-in-art-f2f3d1ca750e'
            title='Link to a fascinating article about Wassily Kandinsky at medium.com/@tomwhartung' target='_blank'>Wassily Kandinsky</a>,
         <a href='http://myersbriggs.org/' title='Link to the Home page at myersbriggs.org' target='_blank'>Isabel Briggs Myers</a>, and
         <a href='http://www.keirsey.com/' title='Link to the Home page at www.keirsey.com' target='_blank'>David Keirsey</a>, the
         <a href='https://www.groja.com/about'
            title='Link to a page about the Groja Program at ' target='_blank'>GROJA Program &copy;</a>
         creates
         <a href='https://medium.com/@tomwhartung/music-meaning-and-modern-art-part-1-of-3-84fe10f480a2'
            title='Link to a fascinating series of articles about abstractions at ' target='_blank'>abstract</a>
         portraits of individuals' personalities based on their score on the
         the MBTI &reg; or a similar four-letter personality type questionnaire.</p>
      <p>
        To see your personality, or that of a friend, loved one, or co-worker,
         click below to
         <a href="yourportrait" title="Link to Your Portrait page">
          get your portrait</a>!</p>
      <p>
        <a class="btn btn-primary btn-lg" href="yourportrait" role="button">
           Get Your Spiritual Portrait &raquo;</a></p>
      <h3>Want to learn more?</h3>
      <p>
        Use the links below to explore this site and check out the
         <a href="http://www.seeourminds.com/galleries"
            title="Link to the galleries page at SeeOurMinds.com" target="_blank">galleries</a>
         at
         <a href="http://www.seeourminds.com"
            title="Link to the home page at SeeOurMinds.com" target="_blank">SeeOurMinds.com</a>.</p>
     </div><!-- .col-md-9 -->
    </div><!-- .row -->
    <a name="testimonial"></a>
    <div class="row">
     <div class="col-md-9">
      <figure>
        <img src="{{ url_for('static', filename='images/site/infp-tomh_1987-scaled_200x200.gif') }}" class="sidebox-img">
        <figcaption>Tom H: INFP</figcaption>
      </figure>
      <p>
        When I first learned that I was an INFP, it was
         <a href="#can-we-talk" title="Scrolls down to the 'Can We Talk?' section on this page">
            life-altering.</a>
        I would like to help you on a similar journey of greater self-awareness!</p>
     </div><!-- .col-md-9 -->
    </div><!-- .row -->

    <div class="row">
     <div class="col-md-4">
      <h2>About</h2>
      <p>
       Learn the story behind the Groja Program &copy;, and
        see a list of the different versions.</p>
      <p>
       <a class="btn btn-default" href="about" role="button">
          About Grojas &raquo;</a></p>
     </div><!-- .col-md-4 -->
     <div class="col-md-4">
      <h2>Books and Sites</h2>
      <p>
       The original idea came totally from books,
        but much of that is now online, waiting for you to check it out!</p>
      <p>
       <a class="btn btn-default" href="booksandsites" role="button">
          Books and Sites &raquo;</a></p>
     </div><!-- .col-md-4 -->
     <div class="col-md-4">
      <h2>Galleries</h2>
      <p>
       See examples of many Spiritual Portraits in the Galleries at our sibling site,
        <a href="http://www.seeourminds.com"
           title="Link to the home page at SeeOurMinds.com" target="_blank">
         SeeOurMinds.com</a>.</p>
      <p>
       <a class="btn btn-default" href="galleries" role="button">
          View Galleries &raquo;</a></p>
     </div><!-- .col-md-4 -->
    </div><!-- .row -->
   </div><!-- .home-page -->
  </div><!-- .container-fluid -->
 </main>
{% endblock %}
