{% extends "base.html" %}

{% block title %}Template{% endblock %}

{% block navbar %}
 {{ super() }}
{% endblock %}

{% block content %}
 <main>
  <div class="container">
   <div class="row justify-content-center">
    <div class="legal-page z-depth-1-half">
     <div class="col-md-9">
      <h1 class="text-center">Template</h1>
      <p>Use this file, <b>templates/index.html</b> , as the starting point for
       new pages for this site.</p>
      <p>It has the same essential structure as the legal/*.html files except that
       &mdash; unlike the legal/*.html files &mdash; this file references the
       <b>navbar</b> and <b>footer</b> blocks.  It works both ways.
       Just FYI.</p>
     </div><!-- .col-md-9 -->
    </div><!-- .legal-page -->
   </div><!-- .row -->
   <div class="w-100"><hr></div>
   <a name="x"></a>
   <div class="row">
    <div class="col-md-6 mb-3">
     <div class="card hoverable">
      <div class="card-body">
       <h2 class="card-title h2-responsive font-weight-bold">x</h2>
       <p class="card-text">
       </p>
      </div><!-- .card-body -->
      <div class="card-footer">
       <p class="card-text text-center">
        <a class="btn btn-default" href="#" role="button">
         Button</a></p>
      </div><!-- .card-footer -->
     </div><!-- .card -->
    </div><!-- .col-md-6 -->
   </div><!-- .row -->
  </div><!-- .container -->
 </main>
{% endblock %}

{% block footer %}
 {{ super() }}
{% endblock %}
