

    <div class="w-100"></div>

    <!-- Monetization -->
    <a name="monetization"></a>
    <div class="row justify-content-center">
     <div class="col-md-7">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h1 class="h1-responsive font-weight-bold text-center">
         <i class="fa fa-dollar m-2 p-2" aria-hidden="true"></i>
         <i class="fa fa-usd m-2 p-2" aria-hidden="true"></i>
         <i class="fa fa-dollar m-2 p-2" aria-hidden="true"></i><br>
         Monetization</h1>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-* -->
    </div><!-- .row -->
    <div class="w-100"></div>
    <div class="row align-items-center justify-content-around">
     <!-- Passion to Monetization -->
     <div class="col-lg-4">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h2 class="card-title h2-responsive font-weight-bold  text-center">
         <i class="fa fa-lg fa-lightbulb-o my-2 py-2" aria-hidden="true"></i>
         <i class="fa fa-lg fa-arrow-right my-2 py-2 mx-2 px-2" aria-hidden="true"></i>
         <i class="fa fa-lg fa-money my-2 py-2" aria-hidden="true"></i><br>
         From Passion to Monetization</h2>
        <p>
         As of the fall of 2018 I have spent at least five years &mdash;
          most recently all of
          <a href='https://github.com/tomwhartung?tab=overview&from=2016-12-01&to=2016-12-31'
             title='Link to a page showing my contributions for 2016 on github.com'
             target='github_window'>2016</a>,
          <a href='https://github.com/tomwhartung?tab=overview&from=2017-12-01&to=2017-12-31'
             title='Link to a page showing my contributions for 2017 on github.com'
             target='github_window'>2017</a>,
          and
          <a href='https://github.com/tomwhartung?tab=overview&from=2018-12-01&to=2018-12-31'
             title='Link to a page showing my contributions for 2018 on github.com'
             target='github_window'>2018</a>
          &mdash; working full time on this project, in one way or another.
        </p>
        <ul class="list-group list-group-flush mb-3">
         <li class="list-group-item font-weight-bold">
          During the past 40 years I have made maybe $30-40 from this project,
           and that's it!
         </li>
         <li class="list-group-item">
          Divide that $40 by the 10,000+ hours I have spent working on this project,
           and you'll better understand the term <q><b>passion project.</b></q>
         </li>
        </ul>
        <p>
         Things have changed a lot over the past 40 years, though.
         And now, in 2018, I'm ready to take this to the next level!
        </p>
        <ul class="list-group list-group-flush mb-3">
         <li class="list-group-item">
         Thanks to a lot of people who are better marketers than me, I am
          learning new ways to monetize this idea &mdash; such as using
          <a class="" target="_blank"
             href="/legal/affiliate_marketing_disclosure"
             title="Affiliate Marketing Disclosure page on this site">
           affiliate marketing links</a>
          and selling ebooks, for example.
         </li>
        </ul>
        <p>
         It's one thing to spend years becoming an expert in something,
          and quite another to continue giving away this expertise for
          free indefinitely.
        </p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-* -->
     <!-- Making Money -->
     <div class="col-lg-8">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h2 class="card-title h2-responsive font-weight-bold  text-center">
         <i class="fa fa-lg fa-money my-2 py-2" aria-hidden="true"></i>
         <i class="fa fa-lg fa-money my-2 py-2 mx-2 px-2" aria-hidden="true"></i>
         <i class="fa fa-lg fa-money my-2 py-2" aria-hidden="true"></i><br>
         Making Money?!?</h2>
        <p>
         Selling individual Spiritual Portraits is just one way of monetizing
          this project.
        </p>
        <h4 class="card-title h4-responsive font-weight-bold text-center">
         Free Artsy Visions Intermittent Newsletter!</h4>
        <p>
         When you click on an
          <a class="" target="_blank"
             href="/legal/affiliate_marketing_disclosure"
             title="Affiliate Marketing Disclosure page on this site">
           affiliate marketing link</a>
          on this site &mdash; such as one of those in the
          <a href="#books" title="Link to the Books section on this page">
           Books section</a> on this page &mdash;
          and purchase a recommended product, the site earns a small commission,
          at no additional cost to you.
        </p>
        <ul class="list-group list-group-flush mb-3">
         <li class="list-group-item">
          By subscribing to the
           Artsy Visions Intermittent Newsletter
           you can learn when we post new content &mdash;
           and fresh recommendations and affiliate links &mdash; to
           <a href="https://ArtsyVisions.com"
              title="ArtsyVisions.com home page" target="_blank">
            ArtsyVisions.com</a> and
           <a href="http://www.SeeOurMinds.com"
              title="Home page of SeeOurMinds.com" target="_blank">
            SeeOurMinds.com</a>.
         </li>
        </ul>
        <p>
         If you're not interested in any of the currently posted
          recommendations and links, no worries &mdash; maybe next month!
        </p>
        <h4 class="card-title h4-responsive font-weight-bold text-center">
         Free Spiritual Portraits!</h4>
        <p>
         From time to time we offer free Spiritual Portraits to subscribers
          of the Artsy Visions Intermittent Newsletter.
        </p>
        <ul class="list-group list-group-flush mb-3">
         <li class="list-group-item">
          The only way to learn about these special offers is to subscribe!
         </li>
        </ul>
        <p>
         Why hesitate?
         If it turns out that one email per month is somehow just too much,
          you can unsubscribe at any time.
        </p>
        <p class="card-text text-center">
         <a class="btn btn-primary btn-lg" href="conversion/avin"
            title="Subscribe to the Artsy Visions Intermittent Newsletter" role="button">
          Subscribe to the Intermittent Newsletter</a>
        </p>
        <h4 class="card-title h4-responsive font-weight-bold text-center">
         We
         <i class="fa fa-heart my-2 py-2" aria-hidden="true"></i>
         Paying Customers!</h4>
        <p>
         If you can't wait and want to see an image of your personality &mdash;
          or the Spiritual Portrait of one or more friends, loved ones, or
          co-workers ASAP &mdash; click below to get your portrait now!
        </p>
        <p class="card-text text-center">
         <a class="btn btn-primary btn-lg" href="/yourportrait" role="button">
          Get Your Spiritual Portrait</a>
        </p>
        <hr>
        <p class="text-center font-weight-bold">
         Thank you for visiting and
          learning about my <q><b>passion project!</b></q>
        </p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-* -->
    </div><!-- .row -->

    <div class="w-100"><hr></div>

