{% extends "base.html" %}

{% block title %}Your Portrait - {% endblock %}

{% block content %}
 <main>
  <div class="container-fluid">
   <div class="your-portrait-page z-depth-1-half">
    <div class="row justify-content-center">
     <div class="col-md-9 hoverable">
      <h1 class="display-4 font-weight-bold text-center">
       Your Portrait</h1>
     </div><!-- .col-md-9 -->
    </div><!-- .row -->
    <div class="row align-items-center justify-content-center">
     <div class="col-sm-8">
      <div class="card hoverable">
       <div class="card-body hoverable">
        <h2 class="card-title h2-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-cogs" aria-hidden="true"></i><br>
         Handmade and Unique</h2>
        <p class="lead">
         I create all Spiritual Portraits by hand, and
          each one is unique.</p>
        <p class="card-text">
         The Groja &copy; Program automates only part of the creation process.
        </p>
        <p class="font-weight-bold text-center">
         Order yours today!</p>
        <p class="text-center">
         <a href="conversion/portrait" class="btn btn-primary btn-lg btn-rounded"
            title="Link to a page where you can order your personalized portrait"
            role="button">
          Get Your Portrait</a></p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-* -->
     <div class="col-sm-3">
      <div class="card hoverable">
       <div class="card-body">
        <h4 class="card-title h4-responsive font-weight-bold text-center">
         What Will Yours Look Like?</h4>
        <div class="view overlay my-4">
         <img src="{{ url_for('static', filename='images/site/ESFJ-light_75_sat_75-blur_20-qms-209x209.jpg') }}"
              class="img-fluid hoverable">
         <a href="#">
          <div class="mask rgba-white-slight"></div>
         </a>
        </div><!-- .view -->
        <h4 class="card-title h4-responsive font-weight-bold text-center">
         Generic Images</h4>
        <p class="card-text">
         If you know your four-letter type, check out the corresponding
          <q>generic</q> image in the
          <a href="http://www.seeourminds.com/gallery/9500-generic_images-original/"
             title="Link to the Sixteen Types gallery page on seeourminds.com"
             target="_blank">
           Sixteen Types</a>
          gallery page on
           <a href="http://www.SeeOurMinds.com/"
              title="Link to the SeeOurMinds.com Home page" target="_blank">
            SeeOurMinds.com</a>.
         Although it is not unique &mdash; and does not reflect the degree
          of your your personal preferences &mdash; you
          <em>can</em> consider it to be an image of your personality.
         So feel free to download and enjoy it!
        </p>
        <p class="card-text">
         If the generic portrait of your four-letter type is not personalized enough for you, please
          <a href="conversion/portrait"
             title="Link to a page where you can order your personalized portrait">
           contact us</a>
          to discuss what you might want and how much it will cost.</p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-* -->
    </div><!-- .row -->
    <div class="row align-items-center justify-content-center">
     <div class="col-md-7 col-lg-5">
      <div class="card hoverable m-2">
       <div class="card-body hoverable">
        <h2 class="card-title h2-responsive font-weight-bold text-center">
         Order yours today!</h2>
        <p class="text-center">
         <a href="conversion/portrait" class="btn btn-primary btn-lg btn-rounded"
            title="Link to a page where you can order your personalized portrait"
            role="button">
          Get Your Portrait</a></p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-* -->
    </div><!-- .row -->
    <div class="row align-items-center justify-content-center">
     <div class="col-sm-12">
      <div class="card hoverable m-2">
       <div class="row align-items-center justify-content-center">
        <div class="col-sm-8">
         <div class="card hoverable">
          <div class="card-body hoverable">
           <h2 class="card-title h2-responsive font-weight-bold text-center">
            <i class="fa fa-lg fa-cogs my-2 py-2" aria-hidden="true"></i>
            <i class="fa fa-lg fa-hand-stop-o my-2 py-2" aria-hidden="true"></i>
            <i class="fa fa-lg fa-th my-2 py-2" aria-hidden="true"></i><br>
            Handmade and Unique</h2>
           <p class="lead">
            I create all Spiritual Portraits by hand, and
             each one is unique.</p>
           <p class="card-text">
            Click below to order yours today!</p>
           <p class="text-center">
            <a href="conversion/portrait" class="btn btn-primary btn-lg btn-rounded"
               title="Link to a page where you can order your personalized portrait"
               role="button">
             Get Your Portrait</a></p>
          </div><!-- .card-body -->
         </div><!-- .card -->
        </div><!-- .col-* -->
        <div class="col-sm-4">
         <div class="card hoverable">
          <div class="card-body">
           <div class="view overlay my-4">
            <h2 class="card-title h2-responsive font-weight-bold text-center">
             What Will Yours Look Like?</h2>
            <p class="text-center">
             <img src="{{ url_for('static', filename='images/site/ESFJ-light_75_sat_75-blur_20-qms-209x209.jpg') }}"
                  class="img-fluid hoverable">
             <a href="#">
              <div class="mask rgba-white-slight"></div>
             </a>
            </p>
           </div><!-- .view -->
          </div><!-- .card-body -->
         </div><!-- .card -->
        </div><!-- .col-* -->
       </div><!-- .row -->
      </div><!-- .card -->
     </div><!-- .col-* -->
    </div><!-- .row -->
    <div class="row align-items-center justify-content-center">
     <div class="col-sm-12">
      <div class="card hoverable m-2">
       <div class="row align-items-center justify-content-center">
        <div class="col-sm-8">
         <div class="card hoverable">
          <div class="card-body hoverable">
           <h1 class="display-4 font-weight-bold text-center">Your Portrait</h1>
           <p class="lead">
            I create all Spiritual Portraits by hand, and
             each one is unique.</p>
           <p class="card-text">
            Click below to order yours today!</p>
           <p class="text-center">
            <a href="conversion/portrait" class="btn btn-primary btn-lg btn-rounded"
               title="Link to a page where you can order your personalized portrait"
               role="button">
             Get Your Portrait</a></p>
          </div><!-- .card-body -->
         </div><!-- .card -->
        </div><!-- .col-* -->
        <div class="col-sm-4">
         <div class="card hoverable">
          <div class="card-body">
           <h4 class="card-title h4-responsive font-weight-bold text-center">
            What Will Yours Look Like?</h4>
           <div class="view overlay my-4">
            <img src="{{ url_for('static', filename='images/site/ESFJ-light_75_sat_75-blur_20-qms-209x209.jpg') }}"
                 class="img-fluid hoverable">
            <a href="#">
             <div class="mask rgba-white-slight"></div>
            </a>
           </div><!-- .view -->
          </div><!-- .card-body -->
         </div><!-- .card -->
        </div><!-- .col-* -->
       </div><!-- .row -->
      </div><!-- .card -->
     </div><!-- .col-* -->
    </div><!-- .row -->
    <div class="row align-items-center justify-content-center">
     <div class="col-sm-7">
      <div class="card hoverable m-4 p-4">
       <div class="card-body">
        <h2 class="card-title h2-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-th my-2 py-2" aria-hidden="true"></i>
         <i class="fa fa-lg fa-hand-stop-o my-2 py-2" aria-hidden="true"></i>
         <i class="fa fa-lg fa-cogs my-2 py-2" aria-hidden="true"></i><br>
         Handmade Portraits</h2>
        <p class="card-text">
         Although a large part of this process is automated by the
          Groja Program &copy;, producing high-quality, unique and
          personalized portraits takes time.
         Add to that the possibility that I will want to
          ensure customers understand and appreciate its significance
          means that each image requires a personal touch.</p>
        <p class="card-text">
         Also, the program contains many options, such as different resolutions and
          orientations (portrait vs. landscape) and even different compositions.
         At this time, these options not currently demonstrated in the
          <a href="http://seeourminds.com/galleries/gallery.html"
             title="Link to the galleries page on seeourminds.com" target="_blank">
           galleries</a>.
         If you are willing to work with me a bit, I can help you determine
          what sort of image you like the most and
          ensure it is within your price range before starting on it!</p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-7 -->
     <div class="col-sm-5">
      <div class="card hoverable m-4 p-4">
       <div class="card-body">
        <h2 class="card-title h2-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-user-circle-o my-2 py-2" aria-hidden="true"></i><br>
         Your <em>Personalized</em> Portrait</h2>
        <p class="card-text">
         If you know your four-letter type, check out the corresponding
          image (called a <span class="air-quotes">generic portrait</span>)
          in the
          <a href="http://www.seeourminds.com/gallery/sixteen_types/"
             title="Link to the Sixteen Types gallery page on seeourminds.com"
             target="_blank">
           Sixteen Types</a>
          gallery page on
           <a href="http://www.seeourminds.com/"
              title="Link to the seeourminds.com Home page" target="_blank">
            seeourminds.com</a>.
         Although it is not unique &mdash; and does not reflect the degree
          of your your personal preferences &mdash; you
          <em>can</em> consider it to be an image of your personality.
         So feel free to download and enjoy it!
        </p>
        <p class="card-text">
         If the generic portrait of your four-letter type is not personalized enough for you, please
          <a href="conversion/portrait"
             title="Link to a page where you can order your personalized portrait">
           contact us</a>
          to discuss what you might want and how much it will cost.</p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-5 -->
    </div><!-- .row -->
    <div class="row">
     <div class="col-md-9">
     </div><!-- .col-md-9 -->
    </div><!-- .row -->
    <div class="row align-items-center justify-content-center">
     <div class="col-md-10">
      <div class="card hoverable m-4 p-4">
       <div class="card-body">
        <h2 class="card-title h2-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-certificate my-2 py-2" aria-hidden="true"></i><br>
         Guarantee</h2>
        <p>
         We guarantee your spiritual portrait will be unique and offer
          you insight into who you are and how you can better relate to others.
        </p>
        <p>
         Our goal is to create a personalized, beautiful, unique, and
          enlightening Spiritual Portrait for you &mdash; one that you can fully
          appreciate and enjoy now and for years to come!
        </p>
        <p>
        </p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-10 -->
    </div><!-- .row -->
   </div><!-- .your-portrait-page -->
  </div><!-- .container -->
 </main>
{% endblock %}
