{% extends "base.html" %}

{% block title %}Your Portrait - {% endblock %}

{% block content %}
 <main>
  <div class="container-fluid">
   <div class="your-portrait-page z-depth-1-half">

    <div class="row justify-content-center my-2">
     <div class="col-md-9 hoverable">
      <h1 class="display-4 font-weight-bold text-center">
       Your Portrait</h1>
     </div><!-- .col-* -->
    </div><!-- .row -->

    <!-- Top Row -->
    <div class="row align-items-center justify-content-center">
     <div class="col-md-12 col-lg-11 col-xl-10">
      <div class="card hoverable">
       <div class="card-body hoverable">
        <h2 class="card-title h2-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-cogs m-3" aria-hidden="true"></i><br>
         Handmade, Personalized, and Unique</h2>
        <p class="lead text-center">
         All images are handmade, and
          each one is personalized and unique.
        </p>
        <dl class="row align-items-center">
         <dt class="col-sm-4 col-md-3 col-lg-2 card-title font-weight-bold">
          Handmade</dt>
         <dd class="col-sm-8 col-md-9 col-lg-10">
          The Groja &copy; Program automates only part of the creation process.
          There are parameters that must be set precisely &mdash; and over time
           I have developed my own personal aesthetic preferences with
           regards to these portraits.
         </dd>
         <dt class="col-sm-4 col-md-3 col-lg-2 card-title font-weight-bold">
          Personal</dt>
         <dd class="col-sm-8 col-md-9 col-lg-10">
          Your image is the result of your score on a questionnaire that
           gauges your personal preferences.
          It is essential that
           (1) <b>you are honest when answering the questionnaire,</b> and
           (2) <b>the results you furnish are precise &mdash;
           preferably expressed as pairs of percentages</b>.
          <br>
          <em>Failure to meet these requirements defeats the purpose of making
           the portrait, forcing it to be generic and relatively meaningless.</em>
         </dd>
         <dt class="col-sm-4 col-md-3 col-lg-2 card-title font-weight-bold">
          Unique</dt>
         <dd class="col-sm-8 col-md-9 col-lg-10">
          As part of the creation process, the Groja &copy; Program introduces
           random elements into each portrait.
          Subjective criteria &mdash; guided by an aesthetic
           developed over the past 40 years &mdash; also plays a part in
           this process.
         </dd>
        </dl>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-* -->
    </div><!-- .row -->

    <!-- Order Yours Now! -->
    <div class="row align-items-center justify-content-center my-4">
     <div class="col-md-10 col-lg-8 col-xl-6">
      <div class="card hoverable">
       <div class="card-body hoverable">
        <h2 class="card-title display-4 font-weight-bold text-center">
         Order Yours Now!</h2>
        <h3 class="h1-responsive text-center">
         <a href="/conversion/get_your_portrait" class="btn btn-primary btn-lg btn-rounded"
            title="Link to a page where you can order your personalized portrait"
            role="button">
          Get Your Portrait</a></h3>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-* -->
    </div><!-- .row -->

    <div class="row align-items-start justify-content-center">
     <!-- What Will Yours Look Like? -->
     <div class="col-lg-3">
      <div class="card hoverable m-2">
       <div class="card-body hoverable">
        <h3 class="card-title h3-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-question-circle m-3" aria-hidden="true"></i><br>
         What Will It Look Like?</h3>
        <div class="view overlay my-4">
         <img src="{{ url_for('static', filename='images/site/ESFJ-light_75_sat_75-blur_20-qms-209x209.jpg') }}"
              class="img-fluid hoverable mx-auto">
          <div class="mask rgba-white-slight"></div>
        </div><!-- .view -->
        <p class="mt-3 mx-2">
         The
          <a href="http://www.SeeOurMinds.com/galleries/"
             title="Link to the All Galleries page on SeeOurMinds.com"
             target="_blank">
           Galleries</a>
          at SeeOurMinds.com host hundreds of spiritual portraits.
         You can look for someone there who has a personality similar to yours,
          or check out the gallery of generic images.
        </p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-* -->
     <!-- Generic Images -->
     <div class="col-lg-4">
      <div class="card hoverable m-2">
       <div class="card-body hoverable">
        <h3 class="card-title h3-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-th my-2 py-2" aria-hidden="true"></i><br>
         Generic Images</h3>
        <p>
         If you know your four-letter type, take a look at the corresponding
          <em>generic</em> image in the
          <a href="http://www.seeourminds.com/gallery/9500-generic_images-original/"
             title="Link to the Sixteen Types gallery page on seeourminds.com"
             target="_blank">
           SeeOurMinds Sixteen Types Gallery</a>.
        </p>
        <p>
         Although it is not personalized &mdash; because it does not reflect
          the relative degree of your your personal preferences &mdash; you
          can, if you like, consider it to be an image of your personality.
         So feel free to download and enjoy it!
        </p>
        <p>
         When you are ready to visualize <em>your</em> personality and see
          <em>your personal preferences</em>, click the button to
          <a href="/conversion/get_your_portrait"
             title="Link to a page where you can order your personalized portrait">
           Get Your Portrait</a>!</p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-* -->
     <!-- Guaranteed -->
     <div class="col-lg-5">
      <div class="card hoverable m-2">
       <div class="card-body hoverable">
        <h2 class="card-title h2-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-certificate m-3" aria-hidden="true"></i><br>
         Money Back Guarantee!</h2>
        <p>
         Our goal is to create a personalized, beautiful, unique, and
          enlightening Spiritual Portrait for you &mdash; one that you can fully
          appreciate and enjoy now and for years to come!
        </p>
        <ul class="list-group list-group-flush mb-3">
         <li class="list-group-item">
          We guarantee your spiritual portrait will be unique and offer
           you insight into who you are and how you can better relate to others.
         </li>
        </ul>
        <p>
         If you are unsatisfied with your spiritual portrait &mdash;
          and can articulate precisely why you are unsatisfied &mdash;
          you may request a full refund within 30 days of receiving the image.
         If you have a good reason for being unsatisfied, we will do
          our best to fix it.
        </p>
        <ul class="list-group list-group-flush mb-3">
         <li class="list-group-item text-center">
          If you are unsatisfied and we are unable to promptly fix
           whatever is wrong, we will grant you a full refund!
         </li>
        </ul>
        <p>
        </p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-* -->
    </div><!-- .row -->

   </div><!-- .your-portrait-page -->
  </div><!-- .container -->
 </main>
{% endblock %}
